#mainHeader{
	height:60px;
	@include background(linear-gradient(color-stops($bluebtn1, $bluebtn2)));
}


#bookmarks-header{
	height:40px;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF5E6C78', endColorstr='#FF31393F');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5e6c78), color-stop(70%, #20282e));
  background: -webkit-linear-gradient(#5e6c78, #20282e 70%);
  background: -moz-linear-gradient(#5e6c78, #20282e 70%);
  background: -o-linear-gradient(#5e6c78, #20282e 70%);
  background: linear-gradient(#5e6c78, #20282e 70%);
  -webkit-box-shadow: #84929f 0 1px 0 inset;
  -moz-box-shadow: #84929f 0 1px 0 inset;
  box-shadow: #84929f 0 1px 0 inset;
  border: 1px solid #161b1f;
  color: white;
  text-shadow: #15181b 0 1px 0;
  @include border-top-radius(6px);

  position:relative;

  /* maybe */
  //line-height:40px;
}

#bookmark-adder{
	height:10px;
	background:#5A6873;
	border:1px solid darken($greenbtn1, 20%);
}
.smallBtn { @include sassy-button-structure(5px, 12px, 0.5em 0.5em);   }
#bmAddBtn{
  position:absolute;
  right:-1px;
  top:-5px;
  // cursor:pointer;
  // -webkit-box-shadow: #84929f 0 1px 0 inset;
  // -moz-box-shadow: #84929f 0 1px 0 inset;
  // box-shadow: #84929f 0px -3px 3px -1px;
  // @include sassy-button("matte", 5px, 12px, #CCCCBA, #B6b69d);
  @include sassy-button-gradient("matte", #3D5F7F, #63727F);
  @extend .smallBtn;
 
  .fa-link{
    color:#39CCCC;
  }
}
#grpAddBtn{
  @extend .smallBtn;
  @include sassy-button-gradient("simple", $toolbar1, $toolbar2);
  border:none;
  position:absolute;
  top:0px;
  right:240px;
   .fa-folder-open{
    color:#FFE9B2;
  }
}