
$redbtn1:#EE5E3D;
$redbtn2:#CC3512;

$bluebtn1: #3CACE2;
$bluebtn2: #1B84B6;

$greenbtn1:#5CB85C;

$toolbar1: #5e6c78;
$toolbar2: #20282e;

$laravel:#F4726D;
$laravel2:#EC6E6A;


$orange:#FBAE2C;
$pink:#A858A3;




