@import "partials/sassybuttons";
@import "partials/normalize";
@import "compass/utilities/general/clearfix";
@import "compass/css3";
@import "partials/fonts";
@import "partials/fontAwesome/font-awesome";
@import "partials/variables";
@import "partials/layout";
@import "partials/mainstyles";


body{
	font-family:Droid Sans;
	font-size:15px;
	line-height:1.5;
	background:#F5F5F5;

}

a{ text-decoration:none; }

.button { @include sassy-button-structure(5px, 12px, 0.5em 1.5em);}
.btn { @include sassy-button-structure(5px, 14px); display:block; text-align:center; }




.red { @include sassy-button-gradient("flat", $redbtn1, $redbtn2, white, raised);}
.blue { @include sassy-button-gradient("flat", $bluebtn1, $bluebtn2, white, inset); }
.flatblue { @include sassy-button-gradient("flat", $bluebtn1, $bluebtn2, white, inset); }
.toolbar { @include sassy-button-gradient("flat", $toolbar1, $toolbar2, white, raised); }
.green { @include sassy-button-gradient("flat", $greenbtn1); }

.tara{
	font-size:19px;
	padding: 0 1px;
	color:$bluebtn1;
}
input[disabled]{
	background:lighten(gray, 35%);
}
#bookmarks-body{
	input[type=text]{
		@include border-radius(5px);
		border:1px solid lighten(#434E58, 40%);
	}
}
.actionIndicator{
	//border:1px solid #A9B4BE;
	@include border-radius(5px);
	text-align:center;
	//@include background(linear-gradient(color-stops($bluebtn1, $bluebtn2)));
	background:lighten(#3CACE2, 15%);
	color:white;
	border:1px solid lighten(#434E58, 40%);
}
.appInfo{
	display:none;
}
.pageError{
	margin:0 auto;
	width:400px;
}
.paginate{
	text-align:center;
}
.pagination{
	color:#5E6C89;
	list-style:none;

	li{
		color:#5E6C89;
		display:inline;
		padding:0 .2em;
		
	}
	li a{
		color:$bluebtn1;
	}
}
.loginPrompt{
	height:800px; overflow:hidden; position:relative;
	text-align:center;
	//@include background(radial-gradient(40px 40px, cyan 50px, dodgerblue 30px))
	a{
		color:$bluebtn1;
		text-decoration:underline;
	}
	

}
.loginForm{
	
	top:20%;
	left:35%;
	position:absolute;
	text-align:center;
	input[type="text"], input[type="password"]{
		border: solid 1px #E6E7E7;
		width:250px;
		display:block;
		font-size:.9em;
		padding:.3em .3em;
		color:gray;
		margin-bottom:20px;
		@include box-shadow(1px 0px 4px -3px darken(#E6E7E7, 50%));
	 }
	input[type="submit"]{
		//@include sassy-button-gradient("flat", lighten(#292929, 30%), $bluebtn2, white, inset);
		@extend .green;
	}
	//vertical-align:center;
}
.cred{
	color:$greenbtn1;
	font-weight:bold;
	padding:0 .1em;
}
#registerPage{
	text-align:center;
	h1{
		color:darken($orange, 10%);
	}
	input[type="text"], input[type="password"], input[type="email"]{
		width:250px;
		margin-bottom:10px;
		border: solid 1px #E6E7E7;
		width:250px;
		//display:block;
		font-size:.9em;
		padding:.3em .3em;
		color:gray;
		margin-bottom:20px;
		@include box-shadow(1px 0px 4px -3px darken(#E6E7E7, 50%));
	}
	input[type="submit"]{
		@extend .blue;
	}
}
.mainHeader{
	.container{
		@include clearfix;
	}
}
.intro{
	h1{
		margin:0;
		color:#D4D5D6;
	}
	p{
		color:#D4D5D6;
		font-size:.9em;
		margin-top:-10px;
	}
	//border-right:1px solid darken(#D4D5D6, 60%);
	width:265px;
	float:left;
	position:relative;
	.headerLogo{
		position:absolute;
		top:0px;
		left:150px;
		font-size:30px;
		opacity:.6;
		
		color:#35CEC1;
		&:hover{
			opacity:1;
		}
	}
}

	//@include background(linear-gradient(top left, white, green));



.headerIcon{
	//background:white;
	float:left;
	height:59px;
	font-size:18px;
	// float:left;
	color:darken($orange, 10%);
	position:relative;
	width:50px;

	border-right:1px solid darken(#D4D5D6, 60%);
	cursor:pointer;
	// background:white;
	&:hover{
		  @include background(linear-gradient(darken(#3c3c3c, 5%), darken(#222, 5%)));

	}
	.fa{
		position:absolute;
		top:30px;
		left:15px;
	}
	.fa-filter{
		color:$pink;
	}
}
.searchForm{
	background:#1f1f1f;
	color:lighten(#8a8989, 15%);
	overflow:hidden;
	width:0px;
	max-width:0px;
	height:59px;
	float:left;
	font-size:.9em;
	@include transition(all 0.3s ease-in);
	input[type="text"]{
		width:120px;
		position:relative;
		outline:none;
		left:15px;
		top:10px;
		padding-left:5px;
		background:#1f1f1f;
		border: 2px solid #4D4D4D;
		@include border-radius(15px);
		&:focus{
			border: 2px solid lighten(#8a8989, 10%);
		}
	}
	input[type="submit"]{
		border:none;

		text-decoration:underline;
		@include border-radius(4px);
		background:#1f1f1f;
		color:#8a8989;
		margin-left:85px;
		margin-top:10px;
	}
}

.filterBox{
	background:#1f1f1f;
	color:lighten(#8a8989, 15%);
	overflow:hidden;
	//width:130px;
	width:0px;
	height:59px;
	float:left;
	font-size:.9em;
	text-align:center;
	@include transition(all 0.3s ease-in);
	
	select{
		margin-top:10px;
		background:transparent;
		border: 2px solid #4D4D4D;
		width:110px;

	}
	option{

	}
	a{
		margin-top:2px;
		display:block;
		color:#8a8989;
		&:hover{
			color:lighten(#8a8989, 20%);
			font-weight:bold;
		}
	}
}

.expandwidth{
	max-width:150px;
	width:150px;
}
.expandFilter{
	width:130px;
}

.logoutLink{
	color:white;
	display:block;
	color:lighten(#8a8989, 15%);
	font-size:12px;
	width:130px;
	height:59px;
	float:right;
	text-align:right;
	margin-right:40px;
	&:hover{
			color:#35cec1;
		}
	.fa-sign-out{
		display:block;
		margin-right:10px;
		font-size:22px;
		margin-top:10px;
		margin-bottom:-2px;
		//color:darken(#35cec1, 10%);

	}
}